.contacto::after{
    content: " 📧";
}

.mb-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    .control1{
        width: 40vh;
    }
    .control2{
        height: 60vh;
        width: 90vh;
    }
    .form-label{
        color:rgb(145, 39, 39);
        font-size: 30px;
        font-weight: bold;
        &::after{
            content: " ⮯";
            color:rgba(128, 128, 128, 0.534);
    }
    .boton{
        margin-top:2rem;
        padding:1rem;
        color: $main-color ;
        background-color: rgba(128, 128, 128, 0.705);
        font-size: 30px;
        font-family: 'Rock Salt', cursive;
        border-radius:25px;
    }
    }
}
