main{
    .text-focus-in{-webkit-animation:text-focus-in 0.5s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}
    @-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
    .section-inicio{
        display:flex;
        flex-direction: column;
        padding: 2rem;
    
        .titulo-inicio{
        color: $main-color;
        text-align: center;
        text-shadow: white 10px 5px 50px;
        font-family: 'Rock Salt', cursive;
        padding: 2rem;
        }
        .p-inicio{
        color: $main-color;
        text-align: center;
        border-bottom: rgba(128, 128, 128, 0.356) 2px solid;
        padding-bottom:1.5rem;
        }
    }
    section{
        .row{
        margin-top:40px;
        margin-bottom: 40px;
        gap:5rem 3rem;
        }
        .tapa{
        width: 250px;
        border-radius: 25%;
            &:hover{
            transform: scale(1.2);
            box-shadow: 0px 10px 40px $secondary-color;
            }
        }
    }    
}