@media (max-width: 1090px){
    .hijo2{
        margin-left:10px;
        margin-top: -20px;
    }
}
@media (max-width:800px){
    .section{
        display:flex;
        flex-direction: column;
    }
    .div1{
        border-top: 3px gray solid;
        border-bottom: 3px gray solid;
        border-right: none;
    }
    .div2{
        border-top: 3px gray solid;
        border-bottom: 3px gray solid;
        border-left: none;
    }
    .div3{
        border-bottom: 3px gray solid;
    }
    .form-label{
        font-size: 25px;
    }
    .form-control{
            width: 90%;
    }
    .hijo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .hijo2{
        margin-left:-100px;
    }
    .lista{
        margin-top:-80px;
        margin-left:-100px;
    }
}
@media (max-width:380px){
    .hijo2{
        margin-left:-60px;
    }
    .tapa2{
        width: 70%;
    }
}
@media (max-width:365px){
    .hijo2{
        margin-left:-70px;
    }
    .tapa2{
        width: 65%;
    }
}