@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
.text-focus-in{
    -webkit-animation:text-focus-in 0.5s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
}
@-webkit-keyframes text-focus-in{
    0%{
        -webkit-filter:blur(12px);filter:blur(12px);opacity:0;
    }
    100%{
        -webkit-filter:blur(0);filter:blur(0);
        opacity:1}
    }
    @keyframes text-focus-in{
        0%{
            -webkit-filter:blur(12px);
            filter:blur(12px);
            opacity:0
        }
        100%{
            -webkit-filter:blur(0);
            filter:blur(0);
            opacity:1;
        }
    }
.form-label{
    color:rgb(145, 39, 39);
    font-size: 30px;
    font-weight: bold;
}
.form-label::after{
    content: " ⮯";
    color:rgba(128, 128, 128, 0.534);
}
.contacto::after{
    content: " 📧";
}
.control1{
    width: 40vh;
}
.control2{
    height: 60vh;
    width: 90vh;
}
.mb-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.boton{
    margin-top:2rem;
    padding:1rem;
    color:rgb(167, 30, 30);
    background-color: rgba(128, 128, 128, 0.705);
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
    border-radius:25px;
}
/* MEDIA QUERIES */
@media (max-width: 1090px){
    .hijo2{
        margin-left:10px;
        margin-top: -20px;
    }
}
@media (max-width:800px){
    .section{
        display:flex;
        flex-direction: column;
    }
    .div1{
        border-top: 3px gray solid;
        border-bottom: 3px gray solid;
        border-right: none;
    }
    .div2{
        border-top: 3px gray solid;
        border-bottom: 3px gray solid;
        border-left: none;
    }
    .div3{
        border-bottom: 3px gray solid;
    }
    .form-label{
        font-size: 25px;
    }
    .form-control{
            width: 90%;
    }
    .hijo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .hijo2{
        margin-left:-100px;
    }
    .lista{
        margin-top:-80px;
        margin-left:-100px;
    }
}
@media (max-width:380px){
    .hijo2{
        margin-left:-60px;
    }
    .tapa2{
        width: 70%;
    }
}
@media (max-width:365px){
    .hijo2{
        margin-left:-70px;
    }
    .tapa2{
        width: 65%;
    }
}

